{
    "port": "8080",
    "basePath": "/Users/sealsurlaw/Downloads/imageserver",
    "baseUrl": "http://localhost:8080",
    "cleanupDuration": "12h",
    "thumbnailQuality": 50,
    "postgresqlConfig": {
        "enabled": true,
        "databaseString": "postgresql://imageserver:abcd1234@localhost:5432/imageserver?sslmode=disable"
    },
    "whitelistedTokens": [
        "S0m3S3cr3t70k3n"
    ]
}