{
    "port": "8080",
    "basePath": "/Users/example/gouvre",
    "baseUrl": "http://localhost:8080",
    "encryptionSecret": "Sea-Crit",
    "thumbnailQuality": 60,
    "hashFilename": false,
    "whitelistedTokens": [
        "S0m3S3cr3t70k3n"
    ],
    "whitelistedIpAddresses": [
        "192.168.1.1",
        "*"
    ]
}